# Rust
/target/
**/*.rs.bk

# IDEs
/.idea/
/.vscode/

# OS
.DS_Store

# Logs and runtime output
/runs/
*.log

# Temp files
/tmp/
*.tmp

data/
!docs/data/
!docs/data/**
artifacts/
!tests/data/
!tests/data/fastq/
!tests/data/fastq/*.fastq.gz
